/*Estilos da página index.html*/

h1,
h2 {
    text-align: center;
}

p {
    text-align: justify;
}

.menu li {
    display: inline;
    padding: 30px;
    font-size: 18px;
}

.menu li a {
    text-decoration: none;
    color: #000000
}

.menu li a:hover {
    color: rgb(0, 14, 138);
    transition: 0.4s;
}

.img {
    width: 400px;
    height: 300px;
    border-radius: 50%;
}

.center {
    text-align: center;
}

.tm-img {
    width: 50x;
    height: 50px;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.pd-20 {
    padding: 20px;
}

.mb-50 {
    margin-bottom: 30px;
}

body {
    background-color: #352e9441;
    font-family:cursive
}

.sobre, .video, .contato {
    background-color: #352e9441;
}


/*Estilos da página contato.html*/ 